@media all and (max-width: 1199px) {
    .view_more_box_txt {
        background: #323F69;
        padding: 145px 0 0 50px;
    }
}

@media all and (max-width: 991px) {
    .nav_items {
        padding: 100px 0 130px 117px;
    }
    .hero_logo a {
        max-width: 379px;
        margin-top: 375px;
    }
    .blufeature_inner_txt {
        left: 25px;
        top: 35px;
    }
    .home_blufish_single_items {
        flex: 0 0 calc(100% / 3 - 10px);
    }
    .home_about_content_area {
        flex-direction: column;
    }
    .right_home_about {
        flex: 0 0 50%;
        margin-top: 50px;
    }
    .home_project_slider .owl-next {
        top: 30%;
    }
    .home_project_slider .owl-prev {
        top: 30%;
    }
    .footer_btm_area {
        margin-left: 0px;
        padding-top: 17px;
        flex-direction: column;
        text-align: center;
    }
    .footer_location a {
        margin-top: 5px;
    }
    .footer_location {
        margin: 20px 0;
    }
    .privacy_policy_area ul {
        justify-content: center;
    }
    .footer_nav_social_area {
        margin-left: 0;
    }
    /* project corporate css */
    .text-2 {
        font-size: 20px;
        font-weight: 400;
        color: #FFF;
        line-height: 30px;
    }
    .title-2 {
        font-size: 30px;
        font-weight: 500;
    }
    .view_more_box_txt p {
        margin-top: 10px;
    }
    .custom_height {
        height: 380px;
    }
    

    /* other css  */

    .project-img-item {
        height: 280px;
        flex: 0 0 calc(100% / 2 - 10px);
    }
    .project-banner {
        height: 717px;
    }
    .project-works-tabs {
        margin-bottom: 20px;
        text-align: center;
    }
    .project-bnner-area {
        background: url('../images/project-page/projects-main-image.webp') no-repeat scroll center center / cover;
        height: 812px;
    }
    .team-bnner-area {
        background: url('../images/team/team-main-image.webp') no-repeat scroll center center / cover;
        height: 812px;
    }
    .contact-bnner-area { 
        background: url('../images/contact/contact-main-image.webp') no-repeat scroll center center / cover;
        height: 812px;
    }
    .team-section-title {
        margin-bottom: 42px;
    }
    
    .team-member-title { 
        text-align: center;
    }
    .mf-top-title a {
        margin-top: 57px;
        margin-bottom: 20px;
    }
    .mf-team-name-title p {
        margin-bottom: 32px;
    }
    .mf-team-box {
        margin-left: 0;
    }
    .team-members-col{
        flex: 0 0 calc(100% / 2 - 14px);
        margin-bottom: 0;
    }
    .project-banner h2{
        padding-bottom: 0;
    }
}
@media all and (max-width: 767px) {
    .hero_logo a {
        max-width: 260px;
        margin-top: 375px;
    }
    .team-box-img {
        margin: 35px 0;
        width: 100%;
        max-width: 302px;
        margin: 35px auto;
    }
    .team-member {
        width: 100%; 
    }
    .team-member img{
        width: 100%;
        height: 100px;
    }
    .menu_content {
        width: 335px;
    } 
    .project-works-tabs h3 {
        color: #283562;
        opacity: 1;
        margin-bottom: 24px;
        text-align: left;
        max-width: 330px;
        margin: auto;
        width: 100%;
        padding-bottom: 24px;
    }
    .team-content-left {
        text-align: left; 
        width: 100%;
        max-width: 302px;
        margin: 41px auto;
    }
    .project-works-tabs-list {  
        max-width: 302px;
        margin: auto;
        width: 100%;
    }
    .project-works-tabs-list li {
        flex: 0 0 calc(100% / 2);
        text-align: left;
    }
    .project-works-tabs-list li button {
        display: ruby-text;
    }
    .project-works-tabs {
        margin-bottom: 20px;
        text-align: center;
        width: 100%;
        max-width: 302px;
        margin: 0 auto 20px auto;
    }
    .team-content-right {
        max-width: 302px;
        margin: auto;
    }
    .nav_items {
        padding: 100px 0 130px 75px;
    }
    .blufish_top_conten {
        padding: 80px 0 70px;
        flex-direction: column;
    }
    .blufish_title {
        width: 100%;
        margin-bottom: 30px;
    }
    .home_blufish_content_area {
        flex-direction: column;
    }
    .home_blufish_single_items {
        margin-bottom: 35px;
    }
    .home_service_single_content {
        flex: 0 0 calc(100% / 4 - 15px);
    }
    .home_service_area {
        padding: 70px 0;
    }
    .home_project_slider .owl-next {
        width: 45px;
        height: 45px;
        border: 3px solid #FFFFFF !important;
        font-size: 16px !important;
        position: absolute;
        right: -28px;
    }
    .home_project_slider .owl-prev {
        border: 3px solid #FFFFFF !important;
        width: 45px;
        height: 45px;
        font-size: 16px !important;
        left: -28px;
    }
    .home_project_slider .owl-prev.disabled, 
    .home_project_slider .owl-next.disabled {
        background: #C9C9C9 !important;
        border: 3px solid #FFFFFF !important;
        opacity: 1 !important;
    }
    .corporate_main .scroll_more_area {
        padding: 498px 0 60px;
    }
    .footer_logo_form {
        align-items: flex-start;
        flex-direction: column;
    }
    .footer_form_content {
        width: 100%;
        padding-left: 9%;
    }
    .footer_nav_social_area {
        flex-direction: column;
        align-items: center;
        margin-top: 25px;
    }
    .footer_social_area {
        margin-top: 25px;
    }
    .footer_navbar ul li a {
        margin: 0 17px;
    }
    /* project corporate css */
    .scroll_more_area {
        padding: 468px 0 60px;
    }
    

    /* other css  */
    .title-6 {
        font-size: 16px;
    }
    .team-content-left a {
        margin-top: 6px; 
    }
    .project-img-item {
        height: 180px; 
    }
    .mf-team-right-box {
        padding: 0;
        max-width: 302px;
        margin: auto;
        width: 100%;
    }
    .team-box, .project-works-box {
        padding: 0;
    }
    .contact-section-padding, .mf-section-padding, .team-section-padding, .project-section-padding {
        padding: 30px 0;
    }
    .project-banner h2 {
        font-size: 28px;
    }
    .team-content-section {
        margin-top: 35px;
    }
    .pra-18 {
        font-size: 14px;
    }
    .title-7 {
        font-size: 16px;
    }
    .pra-16 {
        font-size: 14px;
    } 
    .ceren-content-padding {
        padding: 35px 0;
    }
    .team-content-left {
        text-align: left;
        margin-bottom: 41px;
    }
    .team-content-left a {
        margin-top: 6px;
        display: none;
    }
    .team-content-left p {
        margin-top: 14px;
    }
    .mf-education-content-area {
        margin-left: 0;
        max-width: 302px;
        margin: auto;
    }
    .mf-left-img {
        height: 570px;
    }
    .contact-from {
        width: 100%; 
        padding: 0 30px;
        margin: 25px auto;
    } 
    .project-banner {
        height: 665px;
    }
    .contact-image-area img {
        height: 355px;
        object-fit: cover;
    }
    .desktop-text{
        display: none;
    }
    .mobile-text{
        display: block !important;
    }
   
}
@media all and (max-width: 575px) {
    .hero_logo a {
        max-width: 210px;
        margin-top: 375px;
    }
    .project-bnner-area,
    .team-bnner-area,
    .contact-bnner-area { 
        height: 650px;
    }
    .project-banner h2 {
        padding-bottom: 170px;
    }
    .title-6 {
        font-size: 14px;
        line-height: 20px;
    }
    .team-content-left { 
        width: 100%;
        max-width: 302px;
        margin: 0 auto 41px auto;
    }
    .menu_content {
        width: 287px;
    }
    .nav_items {
        padding: 100px 0 122px 65px;
    }
    .letter_logo_area a {
        max-width: 250px;
        width: 100%;
    }
    .home_service_single_content {
        flex: 0 0 calc(100% / 2 - 55px);
        padding-bottom: 10px;
    }
    .home_service_area {
        padding: 50px 0 0;
    }
    .home_about_main_area {
        width: 95%;
        margin: auto;
        padding-bottom: 70px;
    }
    .serive_images a {
        max-width: 102px;
    }
    .back_top a {
        width: 35px;
        height: 35px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 3px 3px 6px #00000029;
        border-radius: 50%;
        color: #323F69;
        font-size: 15px;
    }
    .back_top {
        position: fixed;
        right: 5%;
        bottom: 5%;
        z-index: 999999;
        display: none;
    }
    .title-1{
        font-size: 40px;
      }
    .title-2 {
        font-size: 30px;
    }
    .title-3{
        font-size: 26px;
    }
    .title-4{
        font-size: 22px;
      
    }
    .title-5{
        font-size: 20px;
      }
    .main_area {
        margin-top: 0px;
    }
    .hero_main_area {
        height: 665px;
    }
    .hero_logo a {
        max-width: 210px;
        position: absolute;
        bottom: 0;
    }
    .menu_content {
        height: 665px;
    }
    .nav_items {
        padding: 100px 0 202px 65px;
    }
    .blufish_top_conten {
        padding: 50px 0 50px;
        flex-direction: column;
        max-width: 302px;
        width: 100%;
        margin: auto;
    }
    .blufish_feature_area.blufetures_items:nth-child(1) {
        margin-bottom: 0;
    }
    .home_blufish_single_items {
        flex: 0 0 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }
    .blufish_feature_area {
        flex: 0 0 calc(100% / 2 - 4px);
    }
    .blufish_feature_area .blufeature_inner_txt {
        left: 20px;
        top: 20px;
    }
    .blufish_feature_area .title-5 {
        font-size: 10px;
    }
    .home_blufish_single_items {
        margin-bottom: 8px;
    }
    .custom_height_2 {
        height: 110px;
    }
    .custom_height_1 {
        height: 272px;
        width: 100%;
    }
    .left_home_about {
        display: none;
    }
    .right_home_about {
        flex: 0 0 50%;
        margin-top: 50px;
        width: 100%;
        max-width: 304px;
    }
    .home_project_main_area .container {
        width: 100%;
        padding-right: 0px;
        padding-left: 0;
    }
    .home_project_title {
        padding-bottom: 20px;
        max-width: 303px;
        width: 100%;
        margin: auto;
    }
    .home_project_item {
        height: 220px;
    }
    .home_project_item img {
        height: 100%;
    }
    .home_project_slider .owl-next {
        width: 30px;
        height: 30px;
        border: 2px solid #FFFFFF !important;
        font-size: 16px !important;
        position: absolute;
        right: 20px;
        top: 92px;
    }
    .home_project_slider .owl-prev {
        width: 30px;
        height: 30px;
        border: 2px solid #FFFFFF !important;
        font-size: 16px !important;
        position: absolute;
        left: 20px;
        top: 92px;
    }
    .footer_form_content {
        width: 100%;
        padding-left: 0;
    }
    .copy_right_area {
        order: -1;
        margin-bottom: 10px;
    }
    .privacy_policy_area {
        order: -1;
    }
    .footer_location a {
        text-align: left;
    }
    .privacy_policy_area ul {
        justify-content: flex-start;
    }
    .footer_btm_area {
        text-align: left;
    }
    .footer_logo a {
        display: inline-block;
        max-width: 244px;
        width: 100%;
    }
    .footer_navbar ul li a {
        font-size: 12px;
    }

    /* project corporate css */
    .view_more_box_txt p {
        margin-top: 10px;
    }
    .custom_height {
        height: 300px;
    }
    .view_more_box_txt {
        padding: 95px 0 0 30px;
    }
    .scroll_more_area {
        padding: 434px 0 60px;
    }
    .mobile_hide{
        display: none;
    }
    .dekstop_hide{
        display: block;
    }
    .mobile_footer_location p {
        font-size: 12px;
        color: #FFF;
        font-weight: 400;
        display: inline-block;
        padding-top: 26px;
    }
    .mobile_footer_location p span {
        display: block;
    }
    .footer_nav_social_area {
        padding-bottom: 27px;
        border-bottom: none;
        max-width: 305px;
        width: 100%;
        margin: auto;
        padding-top: 25px;
    }
    .footer_navbar {
        border-bottom: 1px solid #ABE1FB;
        padding-bottom: 36px;
        width: 100%;
    }
    .mobile_subscribe {
        margin-top: 36px;
    }
    .footer_form_content form input {
        width: 100%;
    }
    .footer_main_area .container {
        padding-left: 0;
        padding-right: 0;
    }
    .footer_navbar ul li:nth-child(1) a {
        margin-left: 0;
    }
    .footer_nav_social_area {
        align-items: flex-start;
    }
    .footer_btm_area {
        text-align: left;
        max-width: 305px;
        width: 100%;
        margin: auto;
    }
    .scroll_more_area {
        padding: 580px 0 60px;
    }
    .corporate_hero_main {
        height: 650px;
    }
    .corporate_another_hero {
        height: 665px;
    }
    .corporate_main .scroll_more_area {
        padding: 580px 0 60px;
    }
    .header_content_area {
        padding: 27px 0 25px;
    }

    /* other css  */

    .mf-left-img { 
        height: 462px;
    }
    .contact-title h2 {
        margin-bottom: 15px;
    }
    .form-btton {  
        margin-top: 0px;
        margin-bottom: 22px;
    }
    .mf-left-img {
        height: 650px;
        width: 100%;
        object-fit: cover;
    }
    .mf-left-img img{ 
        object-fit: cover;
    } 
    br{
        display: none;
    }
    .contact-form-img iframe { 
        height: 328px;
    }
    .project-img-box {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
    }
    .project-img-item {
        flex: 0 0 calc(100% / 2 -8px);
    }
    .project-img-item {
        height: 150px;
    }
    .project-img-item img {  
        object-fit: cover;
    }
    .text-1 {
        font-size: 14px;
    }
    .blufish_title h4 {
        max-width: 240px;
        margin: initial;
        width: 100%;
    }
    /* new css */

    .view_more_box_txt h2 {
        color: #FFF;
        font-size: 14px;
    }
    .flex-w-2 {
        flex: 0 0 calc(44% - 5px);
        margin-left: auto;
    }
    .view_more_box_txt {
        padding: 30px 0 0 30px;
    }
    .custom_height {
        height: 140px;
    }
    .text-2 {
        font-size: 12px;
        font-weight: 400;
        color: #FFF;
        line-height: 14px;
    }
    .view_more_box_txt p {
        margin-top: 0;
    }
    .single_project_view_more {
        margin-bottom: 5px;
    }
    .flex-w-4 {
        flex: 0 0 calc(51% - 5px);
    }
    .flex-w-6 {
        flex: 0 0 calc(58% - 5px);
        margin-left: auto;
    }
    .view_next_project ul li .view_more_txt {
        font-size: 14px;
        margin: 0 25px;
        line-height: 26px;
    }
    .view_more_title {
        text-align: center;
        padding: 50px 0 50px;
    }
    .flex-reverse-7 {
        flex: 0 0 calc(60% - 5px);
        margin-right: auto;
    }
    .view_more_items {
        flex: 0 0 calc(100% / 3 - 4px);
    }
    .residential_view_more {
        flex: 0 0 calc(100% / 2 - 3px);
    }
    .flex_margin{
        margin-left: 0 !important;
    }
    .contact-section-padding, .mf-section-padding, .team-section-padding, .project-section-padding {
        padding: 15px 0;
    }
    .mobile-mail{
        display: block !important;
        margin: 40px 0;
    }
    .mobile-mail a {
        color: #283562;
    }
    .mf-team-content-scroll { 
        display: none;
    }
    .mf-team-right-box > p {
        color: #5D6D7E;
        margin-bottom: 10px;
    }
    .team-ceren-mid-cont {
        padding: 0 7px;
    }
    .team-member img {
        width: 100%;
        height: auto;
    }
    .team-join.text-center.contact-button-text h2 {
        font-size: 22px;
        padding-top: 35px;
    }
    .contact-button-text h2 {
        width: 75%;
        margin: 0 auto 40px auto;
    }
    .contact-button-img {
        display: inline-block;
        margin-bottom: 50px;
    }
    .form-group textarea {
        height: 77px; 
    }
    .contact-from { 
        margin: 40px auto 50px auto;
    }
    .form-last-content { 
        display: none;
    }
}

