@media all and (max-width:991px){
    .project-img-item {
        height: 280px;
        flex: 0 0 100%;
    }
    .project-banner {
        height: 451px; 
    }
    .project-works-tabs {
        margin-bottom: 20px;
        text-align: center;
    }
    .project-bnner-area {
        background: url('../images/project-page/projects-main-image.webp') no-repeat scroll center center / cover;
    }
    .team-bnner-area {
        background: url('../images/team/team-main-image.webp') no-repeat scroll center center / cover;
    }
    .contact-bnner-area { 
        background: url('../images/contact/contact-main-image.webp') no-repeat scroll center center / cover;
    }
    .team-section-title {
        margin-bottom: 17px;
    }
    .team-member-title { 
        text-align: center;
    }
    .mf-top-title p { 
        margin-bottom: 20px;
    }
    .mf-team-name-title p { 
        margin-bottom: 10px;
    }
    .mf-team-box {
        margin-left: 0;
    }
    
}
@media all and (max-width:767px){
    .project-img-item {
        height: 180px; 
    }
    .team-box, .project-works-box {
        padding: 0;
    }
    .contact-section-padding, .mf-section-padding, .team-section-padding, .project-section-padding {
        padding: 30px 0;
    }
    .project-banner h2 {
        font-size: 28px;
    }
    .team-content-section {
        margin-top: 35px;
    }
    .pra-18 {
        font-size: 14px;
    }
    .title-7 {
        font-size: 16px;
    }
    .pra-16 {
        font-size: 14px;
    }
    .mf-team-right-box {
        margin-left: 0;
        width: 100%;
        padding: 20px 67px;
    }
    .ceren-content-padding {
        padding: 35px 0;
    }
    .team-content-left {
        text-align: center;
        margin-bottom: 25px;
    }
    .team-content-left p {
        margin-top: 14px;
    }
    .mf-education-content-area {
        margin-left: 0;
    }
    .mf-left-img {
        height: 570px;
    }
    .contact-from {
        width: 100%; 
        padding: 20px 30px;
    }
}


@media all and (max-width:576px){
    .mf-team-right-box { 
        padding: 20px 39px;
    }
    .mf-left-img { 
        height: 462px;
    }
    .contact-title h2 {
        margin-bottom: 15px;
    }
    .form-btton {  
        margin-top: 0px;
        margin-bottom: 22px;
    }
    
}