/* Default CSS */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, span, video {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-size: 100%;
   background: transparent;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}
button{
  outline: none !important;
}
input
{
    outline:none !important;
}

h1,h2,h3,h4,h5,h6,p{
  margin:0;
  padding:0;
}
input, button, textarea, select{
  outline: none;
}
.btn.focus, .btn:focus {
  outline: none;
  box-shadow: none !important;
}

ul{
  margin:0;
  padding: 0;
  list-style: none;
}
a{
  margin:0;
  padding:0;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
body{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #283562;
}
html{
  scroll-behavior: smooth;
}
img{
  width: 100%;
  height: auto;
}
.custom_height_1{
  height: 475px;
}
.custom_height_2{
  height: 220px;
}
.main_area {
  margin-top: 75px;
}
.title-1{
  font-size: 58px;
}
.title-2{
  font-size: 44px;
}
.title-3{
  font-size: 36px;
}
.title-4{
  font-size: 32px;
  font-weight: 500;

}
.title-5{
  font-size: 28px;
  font-weight: 500;
}
.text-1{
  font-size: 16px;
  font-weight: 400;
  color: #5D6D7E;
}




















/*start header main area css*/
.header_main_area {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #00000029;
	opacity: 1;
	z-index: 9;
}
.letter_logo_area a {
  display: inline-block;
  max-width: 335px;
  width: 100%;
}
.header_content_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0 18px;
}







.white_logo{
  display: none;
}
.hovered .white_logo{
  display: inline-block;
}
.hovered .first_logo{
  display: none;
}
.menu_area {
  position: relative;
}
.nav_items li a {
  text-align: left;
  letter-spacing: 0px;
  color: #283562;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  padding-bottom: 4px;
  margin-bottom: 19px;
  position: relative;
  transition: width 0.3s ease 0s, opacity 0.3s ease 0s;
}
.nav_items li a:hover{
  color: #ABE1FB;
}
.nav_items li a:after{
  bottom: -4px;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  background: #ABE1FB;
  opacity: 0.6;
  transition: width 0.3s ease 0s, opacity 0.3s ease 0s;
  width: 0;
}
.nav_items li a:hover::after {
  width: 100%;
  opacity: 0.9;
  background: #ABE1FB;
}
.nav_items {
  padding: 137px 0 185px 117px;
}
.menu_content {
  display: none;
  position: absolute;
  width: 454px;
  background: rgba(255,255,255,0.9);
  opacity: 1;
  padding: 0 40px 0 35px;
  height: 768px;
  z-index: 999;
  left: -35px;
  top: 0;
  z-index: 99;
}
/*Start Humber Icon Design Css*/
.mobile-menu-icon {
  display: block;
  position: relative;
  z-index: 999;
}
.all-p-humber {
  width: 30px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 99;
}
.all-p-humber span {
  display: block;
  position: absolute;
  height: 3px;
  width: 30px;
  background: #283562;
  border-radius: 0;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
.all-p-humber span:nth-child(1) {
  top: 0px;
}
.all-p-humber span:nth-child(2), .all-p-humber span:nth-child(3) {
  top: 8px;
}
.all-p-humber span:nth-child(4) {
  top: 16px;
}
.all-p-humber.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.all-p-humber.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.all-p-humber.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.all-p-humber.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
/*End Humber Icon Design Css*/

/*start hero area css*/
.hero_main_area{
  background: url(../images/home-page/home-main-image.webp) no-repeat scroll 0 0 / cover;
  position: relative;
}
.hero_logo a {
	max-width: 379px;
	display: inline-block;
	width: 100%;
	margin-top: 465px;
}
/* start blufish content area */
.blufish_top_conten {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 100px 0 78px;
}
.blufish_title {
	flex: 0 0 35%;
}
.blufish_txt {
	flex: 0 0 calc(65% - 34px);
}
.blufish_title h4 {
	max-width: 240px;
	margin: auto;
	width: 100%;
}
.home_blufish_content_area {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.home_blufish_single_items {
	flex: 0 0 calc(100% / 3 - 30px);
}
.blufetures_items {
	position: relative;
}
.blufeature_inner_txt h5 {
	color: #FFFF;
}
.blufeature_inner_txt {
	position: absolute;
	content: "";
	left: 50px;
	top: 45px;
}
.blufish_feature_area.blufetures_items:nth-child(1) {
	margin-bottom: 35px;
}
.blufetures_items img {
	width: 100%;
	height: 100%;
}
.hidden_img{
  display: none;
}
.home_service_area {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 88px 0;
}
.serive_images a {
	display: inline-block;
	max-width: 175px;
	width: 100%;
}
.serive_images {
	text-align: center;
}
.home_service_single_content {
	flex: 0 0 calc(100% / 4 - 42px);
}
.show .basic_img{
  display: none;
}
.show .hidden_img{
  display: inline-block;
}
.home_about_txt a {
	display: inline-block;
	letter-spacing: 0px;
	color: #283562;
	font-weight: 500;
	font-size: 16px;
	margin-top: 32px;
}
.home_about_txt h4 {
	margin-bottom: 55px;
}
.home_about_content_area {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.left_home_about {
	flex: 0 0 50%;
}
.right_home_about {
	flex: 0 0 calc(50% - 110px);
}
.home_about_txt p {
	max-width: 406px;
	width: 100%;
}
.home_about_main_area {
	margin-bottom: 70px;
}
.home_project_title a {
	letter-spacing: 0px;
	color: #283562;
	font-weight: 500;
}
.home_project_title {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding-bottom: 21px;
	max-width: 970px;
	width: 100%;
	margin: auto;
}
.home_project_content_area {
	max-width: 970px;
	width: 100%;
	margin: auto;
}
.home_project_slider .owl-next {
	background: #323F69 !important;
	border: 6px solid #FFFFFF !important;
	width: 82px;
	height: 82px;
	color: #FFF !important;
	border-radius: 50% !important;
	font-size: 32px !important;
	position: absolute;
	right: -42px;
	top: 50%;
	transform: translateY(-50%);
}
.home_project_slider .owl-prev {
	background: #323F69 !important;
	border: 6px solid #FFFFFF !important;
	width: 82px;
	height: 82px;
	color: #FFF !important;
	border-radius: 50% !important;
	font-size: 32px !important;
	position: absolute;
	left: -42px;
	top: 50%;
	transform: translateY(-50%);
}
.home_project_slider .owl-prev.disabled, 
.home_project_slider .owl-next.disabled {
	background: #C9C9C9 !important;
	border: 6px solid #FFFFFF !important;
	opacity: 1 !important;
}
.home_project_slider.owl-theme .owl-dots .owl-dot.active span, .home_project_slider.owl-theme .owl-dots .owl-dot:hover span {
	background: #323F69;
}
.home_project_slider.owl-theme .owl-dots .owl-dot span {
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	background: transparent;
	display: block;
	border: 2px solid #323F69;
	-webkit-backface-visibility: visible;
	transition: opacity .2s ease;
	border-radius: 30px;
}
.home_project_main_area {
	margin-bottom: 42px;
}
/* footer area css */
.footer_main_area {
	background: #283562;
}
.footer_content_area {
	padding: 54px 0 30px;
}
.footer_logo a {
	display: inline-block;
	max-width: 300px;
	width: 100%;
}
.footer_logo_form {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer_form_content form input {
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border-radius: 8px;
}
.form_title {
	letter-spacing: 0px;
	color: #FFFFFF;
	font-size: 14px;
	padding-bottom: 17px;
}
.footer_form_content form input {
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border-radius: 8px;
	max-width: 272px;
	width: 100%;
	text-align: left;
	font: normal normal normal 14px/24px Roboto;
	letter-spacing: 0px;
	color: #92989F;
}
.footer_form_content form {
	display: flex;
}
.footer_form_content form button {
	background: #ABE1FB 0% 0% no-repeat padding-box;
	border-radius: 8px;
	border: none;
	display: inline-block;
	padding: 12px 23px 11px;
	font-size: 16px;
	margin-left: 8px;
}
.footer_form_content .form-control:focus {
	color: #283562;
	background-color: #fff;
	border-color: transparent;
	outline: 0;
	box-shadow: none;
}
.footer_navbar ul li a {
	letter-spacing: 0px;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 400;
	display: inline-block;
	margin-right: 35px;
}
.footer_social_area ul li a {
	color: #FFF;
	font-size: 40px;
	display: inline-block;
	margin: 0px 14px;
}
.footer_nav_social_area {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-left: 50px;
	padding-bottom: 27px;
	border-bottom: 1px solid #ABE1FB;
}
.footer_navbar ul {
	display: flex;
}
.footer_social_area ul {
	display: flex;
}
.footer_btm_area {
	display: flex;
	justify-content: space-between;
	margin-left: 50px;
	padding-top: 17px;
}
.copy_right_area p {
	color: #FFF;
	font-size: 12px;
	font-weight: 400;
}
.footer_location p {
	color: #FFF;
	font-size: 12px;
	font-weight: 400;
}
.footer_location a img {
	max-width: 57px;
	width: 100%;
}
.footer_location a {
	font-size: 12px;
	color: #FFF;
}
.privacy_policy_area ul {
	display: flex;
	align-items: center;
}
.privacy_policy_area ul li a {
	font-size: 12px;
	color: #FFF;
	display: flex;
	align-items: center;
}
.footer_location a {
	display: block;
	text-align: center;
	margin-top: 10px;
}
.privacy_policy_area ul li a span {
	display: inline-block;
	margin: 0px 10px;
}
.back_top a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60px;
	height: 60px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 3px 3px 6px #00000029;
	border-radius: 50%;
	color: #323F69;
	font-size: 23px;
}
.back_top {
	position: fixed;
	right: 3%;
	bottom: 10%;
	z-index: 999999;
	display: none;
}





































































































